@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Azure 204 Playground
</div>

<div class="container mt-5">
    <div class="row justify-content-center align-items-stretch"> 
        <!-- Web app -->
        <div class="col-md-4 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-primary text-white">
                    WebApp
                </div>
                <div id="responseMessage" class="alert alert-info" style="display: none;"></div>
                <div class="card-body d-flex flex-column">
                    <textarea id="messageEventGrid" class="form-control mb-3 flex-grow-1" rows="4" name="message" placeholder="Enter message"></textarea>
                    <button id="sendEventGrid" class="btn btn-primary w-100">Send to Azure function</button>
                </div>
            </div>
            <!-- Arrow  -->
            <div class="arrow-right d-none d-md-block"></div>
        </div>
        
        <!-- Azure Func -->
        <div class="col-md-2 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-primary bg-gradient text-white">
                    Azure Function
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="mb-0">Azure Function processing/validation</p>
                </div>
            </div>
            <!-- Arrow  -->
            <div class="arrow-right d-none d-md-block"></div>
        </div>

        <!-- Event grid  -->
        <div class="col-md-2 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-success text-white">
                    Event Grid
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="mb-0">Processing in event grid</p>
                </div>
            </div>
            <!-- Arrow  -->
            <div class="arrow-right d-none d-md-block"></div>
        </div>
        <!-- WebApp SignalR -->
        <div class="col-md-4 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-success bg-gradient text-white">
                    WebApp - SignalR
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="mb-0">Messages from webhook - passed by signalR</p>
                    <div id="messagesContainer"></div>
                </div>
            </div>
        </div>
        @* <!-- CosmosDB Container --> *@
        @* <div class="col-md-4 text-center position-relative d-flex flex-column"> *@
        @*     <div class="card shadow-sm rounded-4 h-100"> *@
        @*         <div class="card-header bg-success text-white"> *@
        @*             Retrieving from CosmosDB *@
        @*         </div> *@
        @*         <div class="card-body d-flex flex-column justify-content-center"> *@
        @*             <p class="mb-0">Saving in Cosmos DB</p> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script>
    document.getElementById("sendEventGrid").addEventListener("click", async function (e) {
        const message = document.getElementById("messageEventGrid").value;

        const response = await fetch("/Home/SendToEventGrid", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(message)
        });

        const result = await response.json();
        const responseMessageDiv = document.getElementById("responseMessage");

        if (result.success) {
            responseMessageDiv.textContent = result.message;
            responseMessageDiv.style.display = "block";
        } else {
            responseMessageDiv.textContent = "Failed to send data.";
            responseMessageDiv.style.display = "block";
        }
    });


    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/eventGridNotificationHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.on("ReceiveMessage", (message) => {
        console.log("Message recieved:", message);
        const messageElement = document.createElement("div");
        messageElement.textContent = message;
        document.getElementById("messagesContainer").appendChild(messageElement);
    });

    async function start() {
        try {
            await connection.start();
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    start();

</script>