@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Azure 204 Playground
</div>

<div class="container mt-5">
    <div class="row justify-content-center align-items-stretch"> 
        <!-- Azure Function Container -->
        <div class="col-md-4 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-primary text-white">
                    Azure Function
                </div>
                <div class="card-body d-flex flex-column">
                    <textarea class="form-control mb-3 flex-grow-1" rows="4" placeholder="Enter message"></textarea>
                    <button class="btn btn-primary w-100">Wyślij do Event Grid</button>
                </div>
            </div>
            <!-- Strzałka w prawo -->
            <div class="arrow-right d-none d-md-block"></div>
        </div>

        <!-- CosmosDB Container -->
        <div class="col-md-4 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-success text-white">
                    Cosmos
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="mb-0">Dane zostały wysłane do bazy CosmosDB</p>
                </div>
            </div>
        </div>
    </div>
</div>