@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Azure 204 Playground
</div>

<div class="container mt-5">
    <div class="row justify-content-center align-items-stretch">
        <!-- Web app -->
        <div class="col-md-4 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-green-200 text-white">
                    WebApp
                </div>
                <div id="responseMessage" class="alert alert-info" style="display: none;"></div>
                <div class="card-body d-flex flex-column">
                    <textarea id="messageEventGrid" class="form-control mb-3 flex-grow-1" rows="4" name="message" placeholder="Enter message"></textarea>
                    <button id="sendEventGrid" class="btn btn-primary w-100">Send to Azure function</button>
                </div>
            </div>
            <!-- Arrow  -->
            <div class="arrow-right d-none d-md-block"></div>
        </div>

        <!-- Azure Func -->
        <div class="col-md-2 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-green-300 bg-gradient text-white">
                    Azure Function
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="mb-0">Azure Function processing/validation</p>
                </div>
            </div>
            <!-- Arrow  -->
            <div class="arrow-right d-none d-md-block"></div>
        </div>

        <!-- Event grid  -->
        <div class="col-md-2 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-green-400 text-white">
                    Event Grid
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <p class="mb-0">Processing in event grid</p>
                </div>
            </div>
            <!-- Arrow  -->
            <div class="arrow-right d-none d-md-block"></div>
            <div class="arrow-down d-none d-md-block"></div>
        </div>


        <!-- WebApp SignalR -->
        <div class="col-md-4 text-center position-relative d-flex flex-column">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-green-500 bg-gradient text-white">
                    <h6 class="card-title">WebApp - SignalR</h6>
                    <p class="card-text">Subscription from webhook - passed by signalR</p>
                </div>
                <div class="card-body d-flex flex-column justify-content-center">
                    <div id="eventGridWebhookMessages"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-stretch mt-3">
    <!-- Empty space -->
    <div class="col-md-4"></div>
    <div class="col-md-2"></div>

    <!-- Service Bus -->
    <div class="col-md-2 text-center position-relative d-flex flex-column">
        <div class="card shadow-sm rounded-4 h-100">
            <div class="card-header bg-green-400 bg-gradient text-white">
                <h6 class="card-title">Service Bus</h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
                <p class="mb-0">Event subscription to Azure Service Bus</p>
            </div>
        </div>
        <!-- Arrow  -->
        <div class="arrow-right d-none d-md-block"></div>
    </div>

    <!-- WebApp SignalR -->
    <div class="col-md-4 text-center position-relative d-flex flex-column">
        <div class="card shadow-sm rounded-4 h-100">
            <div class="card-header bg-green-500 bg-gradient text-white">
                <h6 class="card-title">WebApp - SignalR</h6>
                <p class="card-text">Subscribtion to AzureBusQueue - passed by signalR</p>
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
                <div id="serviceBusMessages"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script>
    document.getElementById("sendEventGrid").addEventListener("click", async function (e) {
        const message = document.getElementById("messageEventGrid").value;

        const response = await fetch("/Home/SendToEventGrid", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(message)
        });

        const result = await response.json();
        const responseMessageDiv = document.getElementById("responseMessage");

        if (result.success) {
            responseMessageDiv.textContent = result.message;
            responseMessageDiv.style.display = "block";
        } else {
            responseMessageDiv.textContent = "Failed to send data.";
            responseMessageDiv.style.display = "block";
        }
    });


    // SignalR - event grid hub
    const eventHubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/eventGridNotificationHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    eventHubConnection.on("ReceiveMessage", (message) => {
        console.log("Message recieved:", message);
        const messageElement = document.createElement("div");
        messageElement.textContent = message;
        document.getElementById("eventGridWebhookMessages").appendChild(messageElement);
    });

    // SignalR - service bus hub
    const serviceBusHubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/azureServiceBusNotificationHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    serviceBusHubConnection.on("ReceiveMessage", (message) => {
        console.log("Message recieved:", message);
        const messageElement = document.createElement("div");
        messageElement.textContent = message;
        document.getElementById("serviceBusMessages").appendChild(messageElement);
    });

    async function start() {
        try {
            await eventHubConnection.start();
            await serviceBusHubConnection.start();
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    start();

</script>